
<div class="login-container">
  <form [formGroup]="reactiveForm" (submit)="onSubmit()" class="login-form">
    <header class="login-form__header">
      <h2>Вход</h2>
      <span class="button-exit" (click)="toggleFormVisible()"></span>
    </header>
    <div class="form-group">
      <input type="text" id="login" formControlName="login" class="form-control" placeholder="Логин">
    </div>
    <div class="form-group">
      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Пароль">
    </div>
    <div class="control-panel">
      <button type="submit" class="btn-default btn">Войти</button>
    </div>
  </form>
  <footer class="login-form__register">
    <a routerLink="/register" class="login-form__register-link" (click)="toggleFormVisible()">
      Регистрация
    </a>
  </footer>
</div>


