/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Roboto', sans-serif;
  color: #8e8e8e;
  background: #0c0c0c;
}
.application {
  position: relative;
  display: block;
}

.notification {
  position: absolute;
  width: 350px;
  border: 2px solid #888686;
  border-radius: 4px;
  top: 0;
  background: #fff;
  right: 0;

  &-caption {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid;
  }
  &-text{
    padding: 10px;
  }
  &._error{
    border-color: red;
  }
  &._warning{
    border-color: yellowgreen;
  }
  &._success{
    border-color: green;
  }
}

.form-control {
  display: block;
  margin-top: 3px;
  margin-bottom: 7px;
  width: 260px;
  height: 30px;
  padding: 5px;
  border: 1px solid #c6c9d0;
  &:focus{
    border-bottom: 2px solid #007cc1;
    outline-color: #c6c9d0;
  }
}

.button-exit{
  right: 37px;
  top: 40px;
  width: 32px;
  position: absolute;
  height: 32px;
  opacity: 0.5;
  &:before, &:after{
    content: ' ';
    width: 2px;
    height: 20px;
    background: #c6c9d0;
    position: absolute;
    left: 15px;
  }
  &:before{
    transform: rotate(45deg);
  }
  &:after{
    transform: rotate(-45deg);
  }
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
}
